<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24HRFX Trading - About</title>

    <link rel="stylesheet" href="/CSS/main.css">


    <style>
        main {
            padding: 0 16px;
        }
        p {
            text-align: left;
        }
    </style>
</head>
<body>
    <header>
        <div class="home_page">
            <div class="menu_log">
                <div class="logo logo_abt">
                    <img src="/Images/logo.png" alt="logo">
                </div>
                <div class="menu">
                    <img class="icon_menu" src="/Images/icon-menu.svg" alt="logo">
                    <img class="icon_close_menu disappear" src="/Images/icon-close-menu.svg" alt="logo">
                </div>
            </div>
            <nav class="nav_2">
                <div class="under_nav">
                    <a href="/packages">Packages</a>
                </div>
                <div class="under_nav">
                    <a href="/about">About</a>
                </div>
                <div class="under_nav">
                    <a href="/faq">FAQ</a>
                </div>
                <div class="under_nav">
                    <a href="/account">Account</a>
                </div>
                <div class="hold under_nav">
                    <button class="btn logout logout_abt">
                        Log Out
                    </button>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="abt">
            <span>24HR</span>
            <span>FX</span>
            <span>Trading Org</span>
        </h1>

        <p>Looking for highest returns on your investments?</p>
             <p>24HRFX TRADING ORG is the place to be.</p>
           <p> This is an automatic online investment platform, part of 24Hrs FXTrading LTD team of professional traders that
            focusing mainly on Currency Trading, Crypto-currencies trading and Gold among others over multiple Exchanges and markets.</p>
            <p>Thanks to the extraordinary diversification of our investments, we are able to deliver steady income for our investors.
            Headquartered in South Africa in 2019, 24HRFX TRADING ORG is already becoming the Panam's fastest growing trading company.
            Our name is synonymous with effective and profitable trading solutions where our investors need
            little to no trading experience at all. With 24HRFX TRADING ORG, investors choose one of our investment plans,
            make a deposit and sit back while our experts trade on their behalf.</p>
            <p>They can withdraw their profit any time after their investment duration has ended and schedule
            withdrawals quickly and easily through our website.</p>

            <h2>
                Our Trading Certificate
            </h2>
        <div class="certificate">
            <img src="/Images/certificate.jpg" alt="cert">
        </div>
        
    </main>


    <footer>
        <div class="foot_a">
            <div class="logo logo_foot">
                <img src="/Images/logo.png" alt="logo">
            </div>
            <div class="nav_foot">
                <div>
                    <a  href="/packages">Packages</a>
                </div>
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/faq">FAQ</a>
                </div>
                <div>
                    <a href="/account">Account</a>
                </div>
            </div>
        </div>

        <div class="foot_b">
            <div class="media_a">
                <a href="http://www.instagram.com/24hrfxtrading" target="blank">
                    <img src="/Images/icon-instagram.svg" alt="ig">
                </a>
            </div>
            <div class="media_b">
                <a href="#">
                    <img src="/Images/icon-facebook.svg" alt="fb">
                </a>
            </div>
            <div class="media_c">
                <a href="https://t.me/tg24HrFxTradingOrg" target="blank">
                    <img src="/Images/telegram-logo-svgrepo-com.svg" alt="tel">
                </a>
            </div>
            <div class="media_d">
                <a href="https://bit.ly/3Mky8TS" target="blank">
                    <img src="/Images/whatsapp-svgrepo-com.svg" alt="wa">
                </a>
            </div>
        </div>
    </footer>

    <script src="/intro.js"></script>

    <script>
        const logo_abt = document.querySelector('.logo_abt');
        const log_abt = document.querySelector('.logout_abt');

        logo_abt.addEventListener ('click', ()=> {
            window.location = "/page1";
        })

        log_abt.addEventListener ('click', ()=> {
            window.location = "/";
        })
    </script>
</body>
</html>