<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24HRFX Trading - About</title>

    <link rel="stylesheet" href="/CSS/main.css">

    <style>
        @media (max-width: 2040px) {
            .wrap {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            }
            .home_hold {
                width: 120px;
            }
            .home_hold button {
                width: 100%;
            }
        }
        
        main {
            padding: 0 16px;
        }
        p {
            text-align: left;
        }
    </style>
</head>

<body>
    <header>
        <div class="home_page">
            <div class="menu_log wrap">
                <div class="logo logo_abt">
                    <img src="Images/logo.png" alt="logo">
                </div>

                <div class="home_hold">
                    <button class="btn logout logout_abt">
                        Home
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <h1 class="abt">
            <span>24HR</span>
            <span>FX</span>
            <span>Trading Org</span>
        </h1>

        <p>Looking for highest returns on your investments?</p>
        <p>24HRFX TRADING ORG is the place to be.</p>
      <p> This is an automatic online investment platform, part of 24Hrs FXTrading LTD team of professional traders that
       focusing mainly on Currency Trading, Crypto-currencies trading and Gold among others over multiple Exchanges and markets.</p>
       <p>Thanks to the extraordinary diversification of our investments, we are able to deliver steady income for our investors.
       Headquartered in South Africa in 2019, 24HRFX TRADING ORG is already becoming the Panam's fastest growing trading company.
       Our name is synonymous with effective and profitable trading solutions where our investors need
       little to no trading experience at all. With 24HRFX TRADING ORG, investors choose one of our investment plans,
       make a deposit and sit back while our experts trade on their behalf.</p>
       <p>They can withdraw their profit any time after their investment duration has ended and schedule
       withdrawals quickly and easily through our website.</p>

        <h2>
        Our Trading Certificate
        </h2>
        <div class="certificate">
            <img src="/Images/certificate.jpg" alt="cert">
        </div>
    </main>

    <script>
        const log_abt = document.querySelector('.logout_abt');

        log_abt.addEventListener ('click', ()=> {
            window.location = "/";
        })
    </script>
</body>
</html>