<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="/CSS/main.css">


</head>
<body>

    <main>
         <h1 class="changing hidden switching">
            <span>User</span>
            <span class="selected">Login</span>
        </h1>

         <div class="info_c thank_you">
                <h2>Thank you!</h2>
                <p>Your acccount has been successfully created, but it's <span style = "color:red">Inactive</span></p>
                <p>Click the <span style="color: cyan">"Next" </span> button to activate your account.</p>
                <p>We appreciate you taking the time to register with us. If you ever need more support, don’t hesitate to get in touch!
                </p>

                <div class="decide">
                    <button class="btn next">
                        Next
                    </button>
                    <br>
                    <button class="btn home_b">
                        <a href="/" class="link_to">
                            Home
                        </a>
                    </button>
                </div>
            </div>

        <div class="profile hidden">
            <div class="person">
                <img src="Images/person-svgrepo-com.svg" alt="person">
            </div>
            <div class="name" id="name_stated"></div>
            <div class="mail_stated" id="mail_stated"></div>
            <div class="status">STATUS: <span>INACTIVE</span></div>

            <div class="payment">
                <p>Buy your first package to activate your account!</p>
       
                <p>Click the button below, to start your payment.</p>
                <div>
                    <button class="pay btn">Buy Package</button>
                </div>
            </div>
        </div>

        
        <div class="payment_methods hidden">
                    <div class="info_e hidden">
                        <div class="instructions">
                            <h1 class="h_pack">Investment Platform</h1>

                            <p class="p_ins" style="font-size: 18px;">Select any of the packages below as your first time investment. You will get payment instructions after clicking on your preferred package.</p>

                            <div class="grid">
                                <div>
                                    <div class="deal deal_a">
                                        <div>Deposit: <span class="investment">$30 </span></div>
                                        <div>Income: <span>$120</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>70,000.00 Tzs</p>
                                                    <p>3,700.00 KES</p>
                                                    <p>113,560.00 UGX</p>
                                                    <p>490.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>280,000.00 Tzs</p>
                                                    <p>14,562.00 KES</p>
                                                    <p>454,200.00 UGX</p>
                                                    <p>1,945.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div class="deal deal_b">
                                        <div>Deposit: <span class="investment">$40</span></div>
                                        <div>Income: <span>$160</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>94,000.00 Tzs</p>
                                                    <p>4,860.00 KES</p>
                                                    <p>152,410.00 UGX</p>
                                                    <p>590.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>326,000.00 Tzs</p>
                                                    <p>19,416.00 KES</p>
                                                    <p>605,650.00 UGX</p>
                                                    <p>2,590.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div class="deal deal_c">
                                        <div>Deposit: <span class="investment">$50</span></div>
                                        <div>Income: <span>$200</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>117,000.00 Tzs</p>
                                                    <p>6,070.00 KES</p>
                                                    <p>189,300.00 UGX</p>
                                                    <p>809.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>419,000.00 Tzs</p>
                                                    <p>24,270.00 KES</p>
                                                    <p>758,000.00 UGX</p>
                                                    <p>3,235.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div>
                                    <div class="deal deal_d">
                                        <div>Deposit: <span class="investment">$60</span></div>
                                        <div>Income: <span>$240</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>139,920.00 Tzs</p>
                                                    <p>7,293.00 KES</p>
                                                    <p>224,050.00 UGX</p>
                                                    <p>970.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>559,680.00 Tzs</p>
                                                    <p>29,172.00 KES</p>
                                                    <p>896,210.00 UGX</p>
                                                    <p>3,855.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div>
                                    <div class="deal deal_e">
                                        <div>Deposit: <span class="investment">$80</span></div>
                                        <div>Income: <span>$320</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>186,560.00 Tzs</p>
                                                    <p>9,724.00 KES</p>
                                                    <p>298,740.00 UGX</p>
                                                    <p>1,284.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>746,240.00 Tzs</p>
                                                    <p>38,896.00 KES</p>
                                                    <p>1,194,935.00UGX</p>
                                                    <p>5,134.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div>
                                    <div class="deal deal_f">
                                        <div>Deposit: <span class="investment">$90</span></div>
                                        <div>Income: <span>$360</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>209,880.00 Tzs</p>
                                                    <p>10,940.00 KES</p>
                                                    <p>336,080.00 UGX</p>
                                                    <p>1,444.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>839,520.00 Tzs</p>
                                                    <p>43,758.00 KES</p>
                                                    <p>1,344,310.00 UGX</p>
                                                    <p>1,5776.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div>
                                    <div class="deal deal_g">
                                        <div>Deposit: <span class="investment">$100</span></div>
                                        <div>Income: <span>$300</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>233,500.00 Tzs</p>
                                                    <p>12,135.00 KES</p>
                                                    <p>379,000.00 UGX</p>
                                                    <p>1,620.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>699,600.00 Tzs</p>
                                                    <p>36,405.00 KES</p>
                                                    <p>1,135,520.00 UGX</p>
                                                    <p>4,855.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div>
                                    <div class="deal deal_h">
                                        <div>Deposit: <span class="investment">$150</span></div>
                                        <div>Income: <span>$400</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>350,000.00 Tzs</p>
                                                    <p>18,210.00 KES</p>
                                                    <p>567,760.00 UGX</p>
                                                    <p>2,430.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>932,800.00 Tzs</p>
                                                    <p>48,540.00 KES</p>
                                                    <p>1,514,016.00 UGX</p>
                                                    <p>6,470.00 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div class="deal deal_i">
                                        <div>Deposit: <span class="investment">$200</span></div>
                                        <div>Income: <span>$500</span></div>
                                    </div>
                                    <div class="faq convert">
                                        <div class="question">
                                            <p class="p_conv"><span>Convert</span><span><img src="Images/icon-arrow.svg" alt="arrow"></span></p>
                                        </div>
                                        <div class="answer">
                                            <div class="con_ans">
                                                <div class="under_ans dep">
                                                    <h3>Deposit</h3>
                                                    <p>467,000.00 Tzs</p>
                                                    <p>24,270.00 KES</p>
                                                    <p>567,760.00 UGX</p>
                                                    <p>3,235.00 ZMW</p>
                                                </div>
                                                <div class="under_ans inc">
                                                    <h3>Income</h3>
                                                    <p>1,050,000.00 Tzs</p>
                                                    <p>60,675.00 KES</p>
                                                    <p>1,514,016.00 UGX</p>
                                                    <p>8,085 ZMW</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pay_inst hidden">
                                <h1>Pay via M-Pesa, MTN, Voda, Halotel, Airtel, Tigo, BTC, USDT or Ethereum </h1>
                                <p>
                                    1. Go to your preferred payment method.
                                </p>
                                <!--<p>
                                    2. For M-pesa, Pay to any of the following mobile numbers:
                                </p>-->
                                <p>Company numbers to make payment:</p>
                                <p class="phone_nums">
                                    <span><b>Vodacom:</b></span>
                                    <span>Ritei Kolol Mollel</span>
                                    <span>+255748641027</span>
                                </p>
                                <p class="phone_nums">
                                    <span><b>M-Pesa:</b></span>
                                    <span>Wycliffe Indianzi</span>
                                    <span>+254798741595</span>
                                </p> 
                                <p class="phone_nums">
                                    <span><b>ETH, BTC & USDT:</b></span>
                                    <span>Ask for receiving address from your agent.</span>
                                </p>
                                <p>
                                    2. Enter the Payment confirmation message below
                                </p>
                                <p>
                                    Buy <span class="sel_inv"></span> worth package.
                                </p>
                                <p>
                                    Or <span><b><a class="another" href="#">Select another package</a></b></span>
                                </p>
                    
                                <div class="sub_info">
                                    <div>
                                        <input type="text" placeholder="Payment message" class="index_code">
                                    </div>
                                    <div>
                                        <button class="btn next_page next_page_index">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                    
                                <p style="color: crimson; opacity: .8">Make sure you enter a valid transaction code, otherwise your payment might not be processed !!</p>
                            </div>
                        </div>
                    </div>
        </div>

        <div class="wait hidden">
            <p>Your Payment is being processed.Please await verification.
            </p>
            <p>You will receive an Email with your <b>User Id,</b> which you will use to Log in.</p>
            <p>Verification might take a while, please remain patient.</p>

            <div class="button_holder">
                <button class="btn home_b">
                    <a href="/" class="link_to">Finish</a>
                </button>
            </div>
        </div>
    </main>
   

    <script>
        const profile = document.querySelector('.profile');
        const namePerson = document.querySelector('#name_stated');
        const userNameSet = document.getElementById('user');
        const next = document.querySelector ('.next');
        const thanks = document.querySelector('.info_c');
        const changing = document.querySelector ('.changing');
        const selected = document.querySelector('.selected');


        next.addEventListener ('click', ()=> {
            let options = document.querySelector('.options');

            selected.innerHTML = "Profile"
            thanks.style = "display: none";
            changing.classList.remove('hidden');
            selected.innerHTML = "Profile"
        // contain.classList.add ("hidden");
            profile.classList.remove ("hidden");
            namePerson.innerHTML = storedName;
            mailSet.innerHTML = storedMail;
        });


        //PAYMENT

        const pay = document.querySelector ('.pay');
        const payment_methods = document.querySelector ('.payment_methods');
        const mpesa = document.querySelector ('.mpesa_img');
        const info_e = document.querySelector ('.info_e');

        pay.addEventListener ('click', ()=> {
            payment_methods.classList.remove ("hidden");
            profile.classList.add ("hidden");
            changing.classList.add ("hidden");
            info_e.classList.remove ("hidden");


            //WAIT FOR VERIFICATION 

            const sub = document.querySelector ('.next_page_index');
            const wait = document.querySelector ('.wait');
            const head = document.querySelector ('header');
            const index_code = document.querySelector ('.index_code');


            sub.addEventListener ('click', ()=> {
                if (index_code.value == "") {
                    alert("Please fill the required field")
                }
                else {
                    payment_methods.classList.add ("hidden");
                    wait.classList.remove ("hidden");
                    head.style = "display: none" 
                }
            })
        })


        const deal_a = document.querySelector ('.deal_a');
        const deal_b = document.querySelector ('.deal_b');
        const deal_c = document.querySelector ('.deal_c');
        const deal_d = document.querySelector ('.deal_d');
        const deal_e = document.querySelector ('.deal_e');
        const deal_f = document.querySelector ('.deal_f');
        const deal_g = document.querySelector ('.deal_g');
        const deal_h = document.querySelector ('.deal_h');
        const deal_i = document.querySelector ('.deal_i');
        const grid = document.querySelector ('.grid');
        const sel_inv = document.querySelector ('.sel_inv');
        const another = document.querySelector ('.another');
        const p_ins = document.querySelector ('.p_ins');

        const pay_inst = document.querySelector ('.pay_inst');
        const logo_pack = document.querySelector('.logo_pack');
        const log_pack = document.querySelector('.logout_pack');

        
        deal_a.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$30";
            localStorage.setItem ('opt_chosen', '$30');
        })
        deal_b.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$40";
            localStorage.setItem ('opt_chosen', '$40');
        })
        deal_c.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$50";
            localStorage.setItem ('opt_chosen', '$50');
        })
         deal_d.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$60";
            localStorage.setItem ('opt_chosen', '$60');
        })
        deal_e.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$80";
            localStorage.setItem ('opt_chosen', '$80');
        })
        deal_f.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$90";
            localStorage.setItem ('opt_chosen', '$90');
        })
        deal_g.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$100";
            localStorage.setItem ('opt_chosen', '$100');
        })
        deal_h.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$150";
            localStorage.setItem ('opt_chosen', '$150');
        })
        deal_i.addEventListener ('click', ()=> {
            pay_inst.classList.remove ('hidden');
            grid.classList.add ('hidden');
            p_ins.classList.add ('hidden');
            sel_inv.innerHTML = "$200";
            localStorage.setItem ('opt_chosen', '$200');
        })

        another.addEventListener ('click', ()=> {
            pay_inst.classList.add ('hidden');
            grid.classList.remove ('hidden');
            p_ins.classList.remove ('hidden');
        })

        const questions = document.querySelectorAll('.question');

            for (i=0; i < questions.length; i++) {
                questions[i].addEventListener('click',change);
                function change() {
                    this.classList.toggle ('active');
                };
            }
    </script>
</body>
</html>