<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24HRFX Trading - Home</title>

    <link rel="stylesheet" href="/CSS/main.css">

</head>
<body>
    <header>
        <div class="home_page">
            <div class="menu_log">
                <div class="logo logo_abt">
                    <img src="/Images/logo.png" alt="logo">
                </div>
                <div class="menu">
                    <img class="icon_menu" src="/Images/icon-menu.svg" alt="logo">
                    <img class="icon_close_menu disappear" src="/Images/icon-close-menu.svg" alt="logo">
                </div>
            </div>
            <nav class="nav_2">
                <div class="under_nav">
                    <a href="/packages">Packages</a>
                </div>
                <div class="under_nav">
                    <a href="/about">About</a>
                </div>
                <div class="under_nav">
                    <a href="/faq">FAQ</a>
                </div>
                <div class="under_nav">
                    <a href="/account">Account</a>
                </div>
                <div class="hold under_nav">
                    <button class="btn logout logout_p1">
                        Log Out
                    </button>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <h1 class="changing hidden">
            <span>User</span>
            <span class="selected">Login</span>
        </h1>

        <div class="container hidden">
            <div class="options">
                <div id="login" class="active option">Login</div>
                <div id="register" class="option">Register</div>
            </div>


            <div class="info_a">
                <form>
                    <div>
                        <input id="username" type="text" placeholder="Username">
                    </div>
                    <div class="lock">
                        <input id="pass" class="inputs" type="password" placeholder="Password">

                        <div class="show">
                            <img class="reveal" src="Images/show.svg" alt="show">
                        </div>
                    </div>
                    <div>
                        <a href="#" class="forgot">
                            Forgot Password?
                        </a>
                    </div>
                </form>

                <button type="button" class="btn" id="btn_a">Login</button>
            </div>

            <div class="info_b hidden">
                <form>
                    <div>
                        <input id="mail" type="email" placeholder="Email Address">
                        <div id="validity"></div>
                    </div>
                    <div>
                        <input id="user" type="text" placeholder="Set Username">
                    </div>
                    <div class="lock">
                        <input id="password" class="inputs" type="password" placeholder="Password">

                        <div class="show">
                            <img class="reveal" src="Images/show.svg" alt="show">
                        </div>
                    </div>
                    <div class="lock">
                        <input id="confirm" class="inputs" type="password" placeholder="Confirm password">

                        <div class="show">
                            <img class="reveal" src="Images/show.svg" alt="show">
                        </div>
                    </div>

                    <div class="confirmation"></div>          
                </form>

                <button type="button" class="btn" id="btn_b">Register</button>

                
            </div>

            <div class="info_c thank_you">
                <h2>Thank you!</h2>
                <p>Your acccount has been successfully created.</p>
                <p>We appreciate you taking the time to register with us. If you ever need more support, don’t hesitate to get in touch!
                </p>

                <div class="decide">
                    <button class="btn next">
                        Next
                    </button>
                    <br>
                    <button class="btn home_b">
                        Back to Login
                    </button>
                </div>
            </div>

            <div class="info_d">
                <p>Forgot your password? Please enter your email address. You will receive a link to create a new password via email.</p>
    
                <div class="change">
                    <input type="Email" placeholder="Enter Email Address">
                </div>

                <button class="btn res">Reset</button>
            </div>
        </div>

        <div class="profile hidden">
            <div class="person">
                <img src="Images/person-svgrepo-com.svg" alt="person">
            </div>
            <div class="name"></div>
            <div class="mail_stated"></div>
            <div class="status">STATUS: <span>INACTIVE</span></div>

            <div class="payment">
                <p>Buy your first package to activate your account!</p>
                <p>Click the button below, to start your payment.</p>
                <div>
                    <button class="pay btn">BUY</button>
                </div>
            </div>
        </div>
        <div class="illustrate">
            <div>
                <h1>
                    <span>Buy & sell Digital Assets in </span>
                    <span>24HR</span>
                    <span>FX</span>
                    <span>Trading Org.</span>
                </h1>
                <p>24HRFX TRADING ORG is a company made so that investors and new bie traders with
                    Zero trading experience can successfully make profit.
                    Our company, unlike any other, guarantees fixed profit every 24 hours
                    Interested investors who invest with us get their stated profit regardless of market conditions.
                    In short
                    We are able to deliver steady income for our investors.
                    </p>
                <p>WE ALSO PROVIDE CLASSES AND SIGNALS. </p>
            </div>
            <div>
                <img src="Images/banner.png" alt="banner">
            </div>
        </div>

    </main>

     <footer>
        <div class="foot_a">
            <div class="logo logo_foot">
                <img src="/Images/logo.png" alt="logo">
            </div>
            <div class="nav_foot">
                <div>
                    <a  href="/packages">Packages</a>
                </div>
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/faq">FAQ</a>
                </div>
                <div>
                    <a href="/account">Account</a>
                </div>
            </div>
        </div>

         <div class="foot_b">
            <div class="media_a">
                <a href="http://www.instagram.com/24hrfxtrading" target="blank">
                    <img src="/Images/icon-instagram.svg" alt="ig">
                </a>
            </div>
            <div class="media_b">
                <a href="#">
                    <img src="/Images/icon-facebook.svg" alt="fb">
                </a>
            </div>
            <div class="media_c">
                <a href="https://t.me/tg24HrFxTradingOrg" target="blank">
                    <img src="/Images/telegram-logo-svgrepo-com.svg" alt="tel">
                </a>
            </div>
            <div class="media_d">
                <a href="https://bit.ly/3Mky8TS" target="blank">
                    <img src="/Images/whatsapp-svgrepo-com.svg" alt="wa">
                </a>
            </div>
        </div>
    </footer>

    <script src="/intro.js"></script>

    <script>
        const log_p1 = document.querySelector('.logout_p1');

        log_p1.addEventListener ('click', ()=> {
            window.location = "/";
        })
    </script>
</body>
</html>